.SeguimientoContainer2 {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
 
    &-Bienvenida {
       width: 1200%;
       height: 250px;
       background: #D6F5FF;
       border-radius: 28px;
       display: flex;
       align-items: center;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
       &-Imagen {
          position: relative;
          left: 4.6%;
          width: 200%;
          text-align: right;
       }
       &-Texto {
         text-align: center;
         margin-left: 50px;
         width: 950%;
        }
    }
}


.icon-styles{
    height: 1.5em;
    width: 1.5em;
    margin: 0px 15px 15px 0px;

    &:hover{
        cursor: pointer;
    }
}

#search-icon{
    height: 1.5em;
    width: 1.5em;
    margin: 7px 13px 0px 0px;
}

.search-bar{
    height: 2em;
    width: 20em;
    border: solid 2.5px #948383;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.1s;
}

input:focus { 
    outline: none;
    border-color: rgba(240, 89, 101, 0.7);;
}

.search-bar-container{
    margin: 40px 0px 30px 0px;
}

.tables-container{
    margin: 30px auto 20px auto;
}

.row-styles{
    background: #F7F2F2;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
}

.table-title{
    height: 91px;
    background: #D6F5FF;
    border-radius: 10px;
    line-height: 80px;
    padding-left: 25px;
    margin-bottom: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &-text{
        font-size: 29px;
    }
}

.table-style{
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.icon-size{
    width: 1.5rem;
    height: 1.5rem;
    margin: 7px 13px 0px 0px;
    &:hover{
        cursor: pointer;
    }
}