.Ejercicios {
    box-sizing: inherit;
    border: none;
    margin: 10px 50px 20px 50px;
    border-radius: 10px;
    min-width: 400px;

    

}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.center{
    margin-right: auto;
    margin-left: auto;
    
}

.SeguimientoContainer {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
 
    &-Bienvenida {
       width: 100%;
       height: 250px;
       background: #D6F5FF;
       border-radius: 20px;
       display: flex;
       align-items: center;
       min-width: 500px;
 
       &-Imagen {
          position: relative;
          bottom: 15px;
          width: inherit;
          text-align: right;
       }
       &-Texto {
         text-align: center;
         margin-left: 50px;
         width: 950%;
        }
    }
}
.cardsContainer{
    margin: 50px auto 50px auto;
    width: 100%
}
