.container_loading {
   height: 650px;
   width: 100%;
   background-color: #ffffff;
   align-items: center;
   display: flex;
 }
 
 .spinner {
   display: block;
   height: 100px;
   width: 100px;
   margin-right: auto;
   margin-left: auto;
 }
 