.container_loading {
  height: 100vh;
  width: -webkit-fill-available;
  background-color: #ffffff;
  align-items: center;
  display: flex;
}
 
.spinner {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.spinner-border {
  width: 4rem !important;
  height: 4rem !important;
}