.EjerciciosContainer {
   margin-right: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;

   &-Bienvenida {
      width: 100%;
      height: 250px;
      background: rgba(252, 109, 120, 0.1);
      border-radius: 20px;
      display: flex;
      align-items: center;

      &-Imagen {
         position: relative;
         top:32px;
         right: 17px;
      }
      &-Texto {
      }
   }
}

