$principal-color: #FC6D78;

body{
    background-color: rgba(252, 109, 120, 0.9);
    font-family: Lato;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor{
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    height: auto;
    margin-top: 50px;
    padding: 30px;
}

.titulo{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: $principal-color;
    margin-top: 5%;
}

.subtitulo{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: $principal-color;
}

.imageDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imagenes{
    width: 20vh;
    height: 20vh;
    margin: 0 30px;
    border: 3px solid $principal-color;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
}

.imagenes:hover{
    border: 7px solid $principal-color;
}

.imagenesDesp{
    width: 21vh;
    height: 21vh;
    border: 4px solid $principal-color;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;

    // border-image: url(check.png);
    // border-image-outset: 3vh;
    // border-image-width: 20%;
}

.check{
    color: $principal-color;
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 20%;
    left: 75%;
}

.checkAntes{
    visibility: hidden;
    color:#FC6D78;
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 4vh;
    left: 34vh;
    fill: #000000;
}

.checkboxImagen {
    display: none
}

.formtexto{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: $principal-color;
    margin-left: 25%;
    margin-right: 25%;
}

.forms{
    background: #F7F2F2;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    width: 50%;
    height: 50px;
}

.link{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #0091C0;
    text-decoration: none;
    margin-left: 25%;
    margin-right: 25%;
    padding-top:10px;
    padding-left: 10px;
    cursor: pointer;
}

.recordar{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: rgba(252, 109, 120, 0.9);
    margin-top: 5%;
}

.form-check [type=checkbox] {
    background: #FFFFFF;
    border: 1px solid $principal-color;
    box-sizing: border-box;
    border-radius: 5px;
}

.buttonLogin{
    width: 50%;
    height: 60px;
    background: #0091C0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    &:hover,
    &:active,
    &:focus {
        background-color:  #0088b6;
    }
}

.buttonDisabledLogin {
    width: 50%;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}



