// *{
//     margin: 0 !important;
// }

.login{
    height: 100vh;
    width: 100vw;
    background: rgba(252, 109, 120, 0.9);
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    width: 50%;
    height: calc(100% - 100px);
    max-width: 100%;
    min-height: 480px;

}

.titulo{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FC6D78;
    margin-top: 5%;
}

.subtitulo{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FC6D78;
}

.imagenes{
    min-width: 10vh;
    min-height: 10vh;
    width: 30vh;
    height: 30vh;
    border: 3px solid #FC6D78;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;

    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
}

.imagenes:hover{
    border: 7px solid #FC6D78;
}

.imagenesDesp{
    min-width: 10vh;
    min-height: 10vh;
    width: 30vh;
    height: 30vh;
    border: 7px solid #FC6D78;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;

    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;

    // border-image: url(check.png);
    // border-image-outset: 3vh;
    // border-image-width: 20%;
}


.checkboxImagen {
    display: none
}

.formtexto{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #FC6D78;
    margin-left: 25%;
    margin-right: 25%;
}

.forms{
    display: inline-block;
    background: #F7F2F2;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -10%;
    text-align: left;
    width: 50%;
    height: 50px;
    
}

.link{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #0091C0;
    text-decoration: none;
    margin-left: 25%;
    margin-right: 25%;
    cursor: pointer;
}

.recordar{
    display: inline-block;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: rgba(252, 109, 120, 0.9);
    margin-top: 5%;
}

.form-check [type=checkbox] {
    background: #FFFFFF;
    border: 1px solid #FC6D78;
    box-sizing: border-box;
    border-radius: 5px;
}

.buttonlogin{
    display: inline-block;
    width: 50%;
    height: 60px;
    background: #0091C0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    margin-left: 50%;
}

